/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 360px;
  background: url('../img/test1.jpg');
  background-size: 100%;
}
* {
	font-family: "楷体";
}
.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

